---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "File Service"
host: "files.airwallex.com"
basePath: "/v2"
schemes:
- "https"
- "http"
paths:
  /api/files/internal/upload-by-link:
    post:
      tags:
      - "upload"
      summary: "Upload a file by presigned url provided by cloud bucket"
      description: ""
      operationId: "uploadByLink"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "FileUploadRequest"
        description: "info for create a presigned url to upload file"
        required: false
        schema:
          $ref: "#/definitions/FileUploadRequest"
      responses:
        405:
          description: "Invalid input"
  /api/files/internal/file/{fileId}:
    get:
      tags:
      - "query"
      summary: "Query a file by file id"
      description: ""
      operationId: "fetchFile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "fileId"
        description: "ID of File"
        required: true
        type: "string"
      responses:
        405:
          description: "Invalid input"
  /api/files/internal/file:
    post:
      tags:
      - "query"
      summary: "Query a file by metadata"
      description: ""
      operationId: "queryFile"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "metadata"
        description: "metadata of File"
        required: true
        schema:
          $ref: "#/definitions/MetaData"
      responses:
        405:
          description: "Invalid input"

definitions:
  FileUploadRequest:
    type: "object"
    properties:
      mimeTypes:
        type: "array"
        items:
          type: "string"
      maxUploadSize:
        type: "integer"
      expire:
        type: "string"
        format: "date-time"
    xml:
      name: "FileUploadRequest"
  MetaData:
    type: "object"
    additionalProperties:
      type: "string"
    xml:
      name: "MetaData"
  FileEvent:
    type: "object"
    properties:
      eventType:
        type: "string"
      fileId:
        type: "string"
      bucket:
        type: "string"
      occurTime:
        type: "string"
        format: "date-time"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
